<!DOCTYPE html>
<html>
  <head>
  	<meta charset='utf-8'>
   	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/about.css">

    <title><%= title %></title>
  </head>

  <body>

    <div class="sidenav">
      <a id="logo" href="/">Hyewon Joo</a>

      <a href="/">Home</a>
      <a href="/resume">CV</a>

      <button class="dropdown-btn">Projects</button>

      <div class="dropdown-container">
        <a href="/projects/android">Android</a>
        <a href="/projects/web">Web</a>
        <a href="/projects/mfc">MFC</a>
        <a href="/projects/study">Study</a>
      </div>

      <a class="active" href="/about">About</a>
    </div>

    <div class="topnav" id="myTopnav">
      <a id="logo-mid" href="/">Hyewon Joo</a>

      <a href="/">Home</a>
      <a href="/resume">CV</a>
      <div class="dropdown">
        <button class="dropbtn">Projects</button>
        <div class="dropdown-content">
          <a href="/projects/android">Android</a>
          <a href="/projects/web">Web</a>
          <a href="/projects/mfc">MFC</a>
          <a href="/projects/study">Study</a>
        </div>
      </div> 
      <a class="active" href="/about">About</a>
      
      <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>




    <div class="main">
      <div class="title">What I love is</div>
      <div class="content">I truly enjoy learning about new technology and sharing projects or studies with whomever has the same passion. Sharing thoughts with people bringing out new brilliant ideas in one another; run people and run the world as they say and I love that. I generally focus on personal growth, career development, and to be an independent person. I want to be the one who aspires the world, and inspires the people. Working hard and keep pursuing my goal is part of the ways for me to appreciate a life.</div>

      <br><br><br><br>

      <div class="title">More About Me</div>
      <div class="content"><b>What are your favorite hobbies?</b></div>
      <div class="content">I use to enjoy drawing and watercoloring. I always loved doing this type of art when I have spare time. Watercoloring usually gives me warmth and peace at heart.</div>
      <br>
      <div class="content"><b>What’s your dream job?</b></div>
      <div class="content">I've never had pets in my childhood, and my family raised a dog named "Bomi" about 2 years ago. I fell in LOVE with dogs and cats. Since then, I got interests in protection of animals includes stray dogs and cats. I want to establish a good-will organization for these animals when I am able to.</div>
      <br>
      <div class="content"><b>What’s your background?</b></div>
      <div class="content">I've been studying hard and focusing on the best way to do things in my life for me it resides in education, hobbies and life decisions. So then, I became a hard-working, passionate, encouraging person and always try to be independent and strong.</div>
      <br>
      <div class="content"><b>What music have you been listening to lately?</b></div>
      <div class="content">I usually listen to pop music a lot. But recently, I started to listen to Korean songs whichever are good. The reason is being; it sounds more genuine, honest and more straight-forward.</div>
    </div>


  <script src="/javascripts/index.js"></script>

  </body>


</html>