<!DOCTYPE html>
<html>
  <head>
  	<meta charset='utf-8'>
   	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/cv.css">

    <title><%= title %></title>
  </head>

  <body>

    <div class="sidenav">
      <a id="logo" href="/">Hyewon Joo</a>

      <a href="/">Home</a>
      <a class="active" href="/resume">CV</a>

      <button class="dropdown-btn">Projects</button>

      <div class="dropdown-container">
        <a href="/projects/android">Android</a>
        <a href="/projects/web">Web</a>
        <a href="/projects/mfc">MFC</a>
        <a href="/projects/study">Study</a>
      </div>

      <a href="/about">About</a>
    </div>

    <div class="topnav" id="myTopnav">
      <a id="logo-mid" href="/">Hyewon Joo</a>

      <a href="/">Home</a>
      <a class="active" href="/resume">CV</a>
      <div class="dropdown">
        <button class="dropbtn">Projects</button>
        <div class="dropdown-content">
          <a href="/projects/android">Android</a>
          <a href="/projects/web">Web</a>
          <a href="/projects/mfc">MFC</a>
          <a href="/projects/study">Study</a>
        </div>
      </div> 
      <a href="/about">About</a>
      
      <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>



    <div class="main">
      <figure>
        <img id="resume" src="/images/resume.jpg" alt="Hyewon Joo Resume">
        <figcaption style="text-align: center">
          <a id="download" href="/external/Hyewon Joo.pdf" download><i class="fas fa-download"></i>&nbsp;Hyewon Joo.pdf</a>
        </figcaption>
      </figure>
    </div>


  <script src="/javascripts/index.js"></script>

  </body>


</html>