<!DOCTYPE html>
<html>
  <head>
  	<meta charset='utf-8'>
   	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/home.css">

    <title><%= title %></title>
  </head>

  <body>

    <!-- sidenav start -->
    <div class="sidenav">
      <a id="logo" href="/">Hyewon Joo</a>

      <a class="active" href="/">About</a>

      <button class="dropdown-btn">Projects</button>
      <div class="dropdown-container">
        <a href="/projects/web">Web</a>
        <a href="/projects/app">App</a>
        <a href="/projects/study">Personal</a>
      </div>

      <a id="download" href="/external/Hyewon Joo.pdf" download onclick="downloadFunc()">Resume</a>

    </div>
    <!-- sidenav end -->
    
    <!-- topnav start -->
    <div class="topnav" id="myTopnav">
      <a id="logo-mid" href="/">Hyewon Joo</a>

      <a class="active" href="/">About</a>
      
      <div class="dropdown">
        <button class="dropbtn">Projects</button>
        <div class="dropdown-content">
          <a href="/projects/web">Web</a>
          <a href="/projects/app">App</a>
          <a href="/projects/study">Personal</a>
        </div>
      </div> 
      
      <a id="download" href="/external/Hyewon Joo.pdf" download onclick="downloadFunc()">Resume</a>
      
      <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <!-- topnav end -->


    <div class="main">
      <div id="name">ABOUT HYEWON</div>
      <div id="intro">I am dedicated to learning new things and contributing my knowledge in a useful way. I am highly interested in jumping into new projects where I can learn new concepts, and utilize them with the knowledge I already know, to successfully solve problems and complete different tasks. I am a hard-worker, self-learner, team player and a fast-adaptable person whom you might want to collaborate and work with.</div>
      <!-- <div id="email">joo7875@gmail.com</div> -->
    </div>


  <script src="/javascripts/index.js"></script>

  </body>


</html>