<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/projects.css">

    <title><%= title %></title>
  </head>

  <body>

    <div class="sidenav">
      <a id="logo" href="/">Hyewon Joo</a>

      <a href="/">Home</a>
      <a href="/resume">Resume</a>

      <button class="dropdown-btn active">Projects</button>

      <div class="dropdown-container" style="display: block;">
        <a href="/projects/android">Android</a>
        <a class="active" href="/projects/web">Web</a>
        <a href="/projects/mfc">MFC</a>
        <a href="/projects/study">Study</a>
      </div>

      <a href="/about">About</a>
    </div>

    <div class="topnav" id="myTopnav">
      <a id="logo-mid" href="/">Hyewon Joo</a>

      <a href="/">Home</a>
      <a href="/resume">CV</a>
      <div class="dropdown">
        <button class="dropbtn active">Projects</button>
        <div class="dropdown-content">
          <a href="/projects/android">Android</a>
          <a class="active" href="/projects/web">Web</a>
          <a href="/projects/mfc">MFC</a>
          <a href="/projects/study">Study</a>
        </div>
      </div> 
      <a href="/about">About</a>
      
      <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>




    <div class="main">

      <!-- Ringle Chess -->
      <div>
        <div class='ringle-div'>
          <img id="arrow-left" src="/images/next.svg" alt="arrow-left" onclick="_plusDivs(-1)">
          <img id="arrow-right" src="/images/next.svg" alt="arrow-right" onclick="_plusDivs(+1)">

          <a href="/images/web-ringle-chess-1.png" target="_blank"><img id="ringle-1" class="ringle-img" src="/images/web-ringle-chess-1.png" alt="web-ringle-chess-1"></a>
          <a href="/images/web-ringle-chess-2.png" target="_blank"><img id="ringle-2" class="ringle-img" src="/images/web-ringle-chess-2.png" alt="web-ringle-chess-2"></a>
          <a href="/images/web-ringle-chess-3.png" target="_blank"><img id="ringle-3" class="ringle-img" src="/images/web-ringle-chess-3.png" alt="web-ringle-chess-3"></a>
        </div>

        <div class="title-div"><span class="title">Chess : Shortest Path</span><span class="date">2020</span></div>
        <div class="role">Software Engineer</div>
        <ul class="ul">
          <li><a class="link" href="https://joo7875.github.io/ringle-chess/" target="_blank">https://joo7875.github.io/ringle-chess</a></li>
          <li>Find the shortest path connecting all chess pawns using <a style="color: black" class="link" href="https://en.wikipedia.org/wiki/A*_search_algorithm" target="_blank">A* Search Algorithm</a></li>
          <li>King can go up, down, left, right, diagonally, one space at a time, and returns to the starting point.</li>
          <li>Express the path of movement with an animation effect</li>
        </ul>
        <br />
        <div>[<a class="link" href="https://github.com/joo7875/ringle-chess" target="_blank">Code</a>]</div>
      </div>

      <hr>


      <!-- Ringle Survey -->
      <div>
        <img class="ringle-img" src="/images/web-ringle-survey.png" alt="web-ringle-survey">

        <div class="title-div"><span class="title">Survey Form Example</span><span class="date">2020</span></div>
        <div class="role">Software Engineer</div>
        <ul class="ul">
          <li><a class="link" href="https://joo7875.github.io/ringle-survey/" target="_blank">https://joo7875.github.io/ringle-survey</a></li>
          <li>You can write the title and description, then add, edit and delete the questions and inputs</li>
          <li>There are 3 options such as Single choice, Multiple choice and Short answer</li>
          <li>Click the "Submit" button and all the data will be displayed in the console</li>
        </ul>
        <br />
        <div>[<a class="link" href="https://github.com/joo7875/ringle-survey" target="_blank">Code</a>]</div>
      </div>

      <hr>


      <!-- 휴이노 의사 웹 -->
      <div>
        <div class='huinno-div'>
          <img id="arrow-left" src="/images/next.svg" alt="arrow-left" onclick="plusDivs(-1)">
          <img id="arrow-right" src="/images/next.svg" alt="arrow-right" onclick="plusDivs(+1)">

          <a href="/images/en_login.png" target="_blank"><img id="huinno-1" class="huinno-img" src="/images/en_login.png" alt="web-huinno-1"><div class='huinno-title'>Login</div></a>
          <a href="/images/en_resetPassword.png" target="_blank"><img id="huinno-2" class="huinno-img" src="/images/en_resetPassword.png" alt="web-huinno-2"><div class='huinno-title'>Reset Password</div></a>
          <a href="/images/en_patientList.png" target="_blank"><img id="huinno-3" class="huinno-img" src="/images/en_patientList.png" alt="web-huinno-3"><div class='huinno-title'>Patient List</div></a>
          <a href="/images/en_patientList_collapse.png" target="_blank"><img id="huinno-4" class="huinno-img" src="/images/en_patientList_collapse.png" alt="web-huinno-4"><div class='huinno-title'>Patient List Collapsed</div></a>
          <a href="/images/en_changePassword.png" target="_blank"><img id="huinno-5" class="huinno-img" src="/images/en_changePassword.png" alt="web-huinno-5"><div class='huinno-title'>Change Password</div></a>
          <a href="/images/en_patientDetail_summary.png" target="_blank"><img id="huinno-6" class="huinno-img" src="/images/en_patientDetail_summary.png" alt="web-huinno-6"><div class='huinno-title'>Patient Info Summary (Watch/Patch)</div></a>
          <a href="/images/en_summary_patch.png" target="_blank"><img id="huinno-7" class="huinno-img" src="/images/en_summary_patch.png" alt="web-huinno-7"><div class='huinno-title'>Patient Info Summary (Patch)</div></a>
          <a href="/images/en_ECGList_watch.png" target="_blank"><img id="huinno-8" class="huinno-img" src="/images/en_ECGList_watch.png" alt="web-huinno-8"><div class='huinno-title'>Patient Info ECGList (Watch)</div></a>
          <a href="/images/en_ECGList_patch.png" target="_blank"><img id="huinno-9" class="huinno-img" src="/images/en_ECGList_patch.png" alt="web-huinno-9"><div class='huinno-title'>Patient Info ECGList (Patch)</div></a>
          <a href="/images/en_doctorOp.png" target="_blank"><img id="huinno-10" class="huinno-img" src="/images/en_doctorOp.png" alt="web-huinno-10"><div class='huinno-title'>Doctor Comment</div></a>
          <a href="/images/en_AI.png" target="_blank"><img id="huinno-11" class="huinno-img" src="/images/en_AI.png" alt="web-huinno-11"><div class='huinno-title'>AI Result</div></a>
          <a href="/images/en_register.png" target="_blank"><img id="huinno-12" class="huinno-img" src="/images/en_register.png" alt="web-huinno-12"><div class='huinno-title'>Patient Register</div></a>
          <a href="/images/en_upload.png" target="_blank"><img id="huinno-13" class="huinno-img" src="/images/en_upload.png" alt="web-huinno-13"><div class='huinno-title'>Patient Data Upload</div></a>
          <a href="/images/en_upload_files.png" target="_blank"><img id="huinno-14" class="huinno-img" src="/images/en_upload_files.png" alt="web-huinno-14"><div class='huinno-title'>Patient Data Upload Files (.csv/.bin)</div></a>
          <a href="/images/en_Patch Report.png" target="_blank"><img id="huinno-15" class="huinno-img" src="/images/en_Patch Report.png" alt="web-huinno-15"><div class='huinno-title'>Patch Report</div></a>
          <a href="/images/en_patchViewer_day1.png" target="_blank"><img id="huinno-16" class="huinno-img" src="/images/en_patchViewer_day1.png" alt="web-huinno-16"><div class='huinno-title'>Patch Viewer (Day 1)</div></a>
          <a href="/images/en_patchViewer_day2.png" target="_blank"><img id="huinno-17" class="huinno-img" src="/images/en_patchViewer_day2.png" alt="web-huinno-17"><div class='huinno-title'>Patch Viewer (Day 2)</div></a>
        </div>

        <div class="title-div"><span class="title">HUiNNO</span><span class="date">2020</span></div>
        <div class="role">Front-end Software Engineer</div>
        <ul class="ul">
          <li>심전도 측정 모니터링, AI기반 심전도 분석 결과 진단, 효율적인 환자 관리가 가능한 의료진용 임상웹 소프트웨어 개발</li>
          <li>개발 언어: Node.js, React, JavaScript, HTML, CSS, JSON</li>
          <li>백엔드 서버 파트와 활발한 협업</li>
          <li>API를 연동하여 필요한 데이터를 반영 및 사용 API 문서 작업</li>
          <li>반응형 웹 서비스</li>
        </ul>
      </div>

      <hr>


      <!-- 주식회사 오성전자 -->
      <div>
        <img class="project-img" src="/images/web-woseng-1.png" alt="web-woseng-1">
        <img class="project-img" src="/images/web-woseng-2.png" alt="web-woseng-2">
        <!-- <img class="project-img" src="/images/web-woseng-3.png" alt="web-woseng-3">
        <img class="project-img" src="/images/web-woseng-4.png" alt="web-woseng-4"> -->

        <div class="title-div"><span class="title">주식회사 오성공조</span><span class="date">2020</span></div>
        <div class="role">Full-stack Engineer</div>
        <ul class="ul">
          <li><a class="link" href="http://www.aircon-mate.com/" target="_blank">http://www.aircon-mate.com</a></li>
          <li>(주)오성공조 공식 홈페이지 제작</li>
          <li>Developed website from the scratch using Node.js, Express, HTML, CSS, JavaScript and Heroku</li>
          <li>Worked on the overall layouts of the website to make it responsive and adaptable</li>
        </ul>
      </div>

      <hr>

      <!-- HackerRank -->
      <div>
        <img class="hackaday-img" src="/images/web-hackaday-1.png" alt="web-hackaday-1">
        <img class="hackaday-img" src="/images/web-hackaday-2.png" alt="web-hackaday-2">

        <div class="title-div"><span class="title">Hackaday.io</span><span class="date">2020</span></div>
        <div class="role">Full-stack Engineer</div>
        <ul class="ul">
          <li><a class="link" href="https://hackaday-hyewonjoo.herokuapp.com/projects/page/1" target="_blank">https://hackaday-hyewonjoo.herokuapp.com/projects/page/1</a></li>
          <li>Project Grid Page</li>
          <ul>
            <li>Rendered a page that shows a grid of projects (using <a class="content-link" href="https://dev.hackaday.io/doc/api/get-projects" target="_blank">GET /projects</a>) and it is initially rendered server-side</li>
            <li>Displayed each project's metadata, including the owner</li>
            <ul>
              <li>Showing a tooltip presenting the owner's metadata when hovering over a project owner's name (using the <a class="content-link" href="https://dev.hackaday.io/" target="_blank">Hackaday API</a>)</li>
              <li>Tooltip data should be loaded dynamically, client-side and it is only once per browsing session</li>
            </ul>
            <li>Implement pagination</li>
            <ul>
              <li>When going to next/previous project pages, the page should not reload and the browser bar should
              display a unique/permanent URL</li>
              <li>Visiting the permanent URL should load the same page of projects as if
              the visitor navigated using the next/previous links</li>
            </ul>
          </ul>
          <li>Project Detail Page</li>
          <ul>
            <li>When a project is clicked, server-side render a page that shows the clicked project's metadata (using <a class="content-link" href="https://dev.hackaday.io/doc/api/get-projects" target="_blank">GET /projects/:id</a>)</li>
            <li>Showing "recommended projects" and/or "recommended users" by comparing the
            selected project's tags with tags of other projects/users</li>
            <li>About "Recommended Projects", I connected tags from selected project and tags from the first 50 projects</li>
            <li>For "Recommended Users", it was not enough or sometime zero result from connecting the tags from selected project's creator and tags from the first 50 users. 
            Thus, I got a user's info included tags from the array resulted from "Recommended Projects" and combined with the array that I just explained showing less results to show quite of more recommended users.</li>
          </ul>
          <li>Implement Testing</li>
        </ul>
        <br>
        <div>[<a class="link" href="https://github.com/joo7875/hackaday.git" target="_blank">Code</a>] [<a class="link" href="/external/projects-web-hackaday-doc.pdf" target="_blank">Doc</a>]</div>
      </div>

      <hr>

      <!-- F21 Collab -->
      <div>
        <img class="f21-collab-img" src="/images/web-f21-collab.png" alt="web-f21-collab">

        <div class="title-div"><span class="title">FOREVER21 Collaboration</span><span class="date">2019</span></div>
        <div class="role">Front-end Software Engineer</div>

        <ul class="ul">
          <li><a class="link" href="https://www.forever21.com/us/shop/catalog/collabs/" target="_blank">https://www.forever21.com/us/shop/catalog/collabs</a></li>
          <li>FOREVER21와 함께 콜라보 하는 기업들에 대한 필요한 데이터를 관리할 수 있는 Collab DB 생성</li>
          <li>페이지 상에 출력되는 데이터를 관리하고, Carousel, Widget을 인덱스로 구분하여 효율적인 데이터 저장을 위한 확장 가능한 조인 테이블 생성</li>
          <li>Collab DB를 클래스로 만들어 Model 구축, 필요한 데이터를 View를 통해 가져와 페이지에 출력, Controller에 있는 API를 통해 데이터를 View에 전달</li>
        </ul>
        
      </div>

      
     
    </div>


  <script src="/javascripts/index.js"></script>

  </body>


</html>
