<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/projects.css" />

    <title><%= title %></title>
  </head>

  <body>
    <!-- sidenav start -->
    <div class="sidenav">
      <a id="logo" href="/">Hyewon Joo</a>

      <a href="/">About</a>

      <button class="dropdown-btn active">Projects</button>

      <div class="dropdown-container" style="display: block">
        <a class="active" href="/projects/web">Web</a>
        <a href="/projects/app">App</a>
        <a href="/projects/personal">Personal</a>
      </div>

      <a id="download" href="/external/Resume_Hyewon Joo.pdf" target="_blank"
        >Resume</a
      >
      <a href="/reference">Reference</a>
    </div>
    <!-- sidenav end -->

    <!-- topnav start -->
    <div class="topnav" id="myTopnav">
      <a id="logo-mid" href="/">Hyewon Joo</a>

      <a href="/">About</a>

      <div class="dropdown">
        <button class="dropbtn active">Projects</button>
        <div class="dropdown-content">
          <a class="active" href="/projects/web">Web</a>
          <a href="/projects/app">App</a>
          <a href="/projects/personal">Personal</a>
        </div>
      </div>
      <a id="download" href="/external/Resume_Hyewon Joo.pdf" target="_blank"
        >Resume</a
      >
      <a href="/reference">Reference</a>

      <a
        href="javascript:void(0);"
        style="font-size: 16px"
        class="icon"
        onclick="myFunction()"
        >&#9776;</a
      >
    </div>
    <!-- topnav end -->

    <div class="main">
      <!-- Need -->
      <div>
        <div>
          <a href="/images/web-need-hero-1.png" target="_blank">
            <img
              id="need-1"
              class="need-img"
              src="/images/web-need-hero-1.png"
              alt="need-hero-1"
            />
          </a>
          <a href="/images/web-need-hero-2.png" target="_blank">
            <img
              id="need-2"
              class="need-img"
              src="/images/web-need-hero-2.png"
              alt="need-hero-2"
            />
          </a>
          <a href="/images/web-need-hero-3.png" target="_blank">
            <img
              id="need-3"
              class="need-img"
              src="/images/web-need-hero-3.png"
              alt="need-hero-3"
            />
          </a>
          <a href="/images/web-need-hero-4.png" target="_blank">
            <img
              id="need-4"
              class="need-img"
              src="/images/web-need-hero-4.png"
              alt="need-hero-4"
            />
          </a>
          <a href="/images/web-need-hero-5.png" target="_blank">
            <img
              id="need-5"
              class="need-img"
              src="/images/web-need-hero-5.png"
              alt="need-hero-5"
            />
          </a>
          <a href="/images/web-need-hero-6.png" target="_blank">
            <img
              id="need-6"
              class="need-img"
              src="/images/web-need-hero-6.png"
              alt="need-hero-6"
            />
          </a>
          <a href="/images/web-need-hero-7.png" target="_blank">
            <img
              id="need-7"
              class="need-img"
              src="/images/web-need-hero-7.png"
              alt="need-hero-7"
            />
          </a>
          <a href="/images/web-need-mercy-1.png" target="_blank">
            <img
              id="need-8"
              class="need-img"
              src="/images/web-need-mercy-1.png"
              alt="need-mercy-1"
            />
          </a>
          <a href="/images/web-need-mercy-2.png" target="_blank">
            <img
              id="need-9"
              class="need-img"
              src="/images/web-need-mercy-2.png"
              alt="need-mercy-2"
            />
          </a>
          <a href="/images/web-need-mercy-3.png" target="_blank">
            <img
              id="need-10"
              class="need-img"
              src="/images/web-need-mercy-3.png"
              alt="need-mercy-3"
            />
          </a>
        </div>

        <div class="title-div">
          <span class="title">NEED</span><span class="date">2022</span>
        </div>
        <div class="role">Founding Software Engineer</div>
        <ul class="ul">
          <li>Frontend: TypeScript, JavaScript, React, HTML, CSS, Figma</li>
          <li>Backend: Golang, Google cloud run, TablePlus, Docker, GraphQL</li>
          <li>
            Need is the world's first Cancer Protection System that enables
            anyone, anywhere, to achieve the best possible cancer outcome. The
            Cancer Protection System provides end-to-end protection through
            three modules: Healthy Module, Treatment Module, and Survivor Module
          </li>
          <li>
            Built core features in a clean architecture pattern for a
            multidisciplinary web application product for 250+ doctors on a
            global scale to help facilitate the best cancer outcome and
            developed solid Operations internal tool web app
          </li>
          <li>
            Led a groundbreaking project focused on the comprehensive
            reconstruction and enhancement of the entire UI and UX flow
          </li>
          <li>
            Maintained a clean and efficient codebase, while simultaneously
            optimizing components and internal file structures. This endeavor
            resulted in a seamless, brand identical, and user-friendly design
            that significantly elevated the product's overall quality and user
            satisfaction
          </li>
        </ul>
      </div>

      <hr />

      <!-- 휴이노 의사 웹 -->
      <div>
        <div class="huinno-div">
          <img
            id="arrow-left"
            src="/images/next.svg"
            alt="arrow-left"
            onclick="plusDivs(-1)"
          />
          <img
            id="arrow-right"
            src="/images/next.svg"
            alt="arrow-right"
            onclick="plusDivs(+1)"
          />

          <a href="/images/en_login.png" target="_blank"
            ><img
              id="huinno-1"
              class="huinno-img"
              src="/images/en_login.png"
              alt="web-huinno-1"
            />
            <div class="huinno-title">Login</div></a
          >
          <a href="/images/en_resetPassword.png" target="_blank"
            ><img
              id="huinno-2"
              class="huinno-img"
              src="/images/en_resetPassword.png"
              alt="web-huinno-2"
            />
            <div class="huinno-title">Reset Password</div></a
          >
          <a href="/images/en_patientList.png" target="_blank"
            ><img
              id="huinno-3"
              class="huinno-img"
              src="/images/en_patientList.png"
              alt="web-huinno-3"
            />
            <div class="huinno-title">Patient List</div></a
          >
          <a href="/images/en_patientList_collapse.png" target="_blank"
            ><img
              id="huinno-4"
              class="huinno-img"
              src="/images/en_patientList_collapse.png"
              alt="web-huinno-4"
            />
            <div class="huinno-title">Patient List Collapsed</div></a
          >
          <a href="/images/en_changePassword.png" target="_blank"
            ><img
              id="huinno-5"
              class="huinno-img"
              src="/images/en_changePassword.png"
              alt="web-huinno-5"
            />
            <div class="huinno-title">Change Password</div></a
          >
          <a href="/images/en_patientDetail_summary.png" target="_blank"
            ><img
              id="huinno-6"
              class="huinno-img"
              src="/images/en_patientDetail_summary.png"
              alt="web-huinno-6"
            />
            <div class="huinno-title">
              Patient Info Summary (Watch/Patch)
            </div></a
          >
          <a href="/images/en_summary_patch.png" target="_blank"
            ><img
              id="huinno-7"
              class="huinno-img"
              src="/images/en_summary_patch.png"
              alt="web-huinno-7"
            />
            <div class="huinno-title">Patient Info Summary (Patch)</div></a
          >
          <a href="/images/en_ECGList_watch.png" target="_blank"
            ><img
              id="huinno-8"
              class="huinno-img"
              src="/images/en_ECGList_watch.png"
              alt="web-huinno-8"
            />
            <div class="huinno-title">Patient Info ECGList (Watch)</div></a
          >
          <a href="/images/en_ECGList_patch.png" target="_blank"
            ><img
              id="huinno-9"
              class="huinno-img"
              src="/images/en_ECGList_patch.png"
              alt="web-huinno-9"
            />
            <div class="huinno-title">Patient Info ECGList (Patch)</div></a
          >
          <a href="/images/en_doctorOp.png" target="_blank"
            ><img
              id="huinno-10"
              class="huinno-img"
              src="/images/en_doctorOp.png"
              alt="web-huinno-10"
            />
            <div class="huinno-title">Doctor Comment</div></a
          >
          <a href="/images/en_AI.png" target="_blank"
            ><img
              id="huinno-11"
              class="huinno-img"
              src="/images/en_AI.png"
              alt="web-huinno-11"
            />
            <div class="huinno-title">AI Result</div></a
          >
          <a href="/images/en_register.png" target="_blank"
            ><img
              id="huinno-12"
              class="huinno-img"
              src="/images/en_register.png"
              alt="web-huinno-12"
            />
            <div class="huinno-title">Patient Register</div></a
          >
          <a href="/images/en_upload.png" target="_blank"
            ><img
              id="huinno-13"
              class="huinno-img"
              src="/images/en_upload.png"
              alt="web-huinno-13"
            />
            <div class="huinno-title">Patient Data Upload</div></a
          >
          <a href="/images/en_upload_files.png" target="_blank"
            ><img
              id="huinno-14"
              class="huinno-img"
              src="/images/en_upload_files.png"
              alt="web-huinno-14"
            />
            <div class="huinno-title">
              Patient Data Upload Files (.csv/.bin)
            </div></a
          >
          <a href="/images/en_Patch Report.png" target="_blank"
            ><img
              id="huinno-15"
              class="huinno-img"
              src="/images/en_Patch Report.png"
              alt="web-huinno-15"
            />
            <div class="huinno-title">Patch Report</div></a
          >
          <a href="/images/en_patchViewer_day1.png" target="_blank"
            ><img
              id="huinno-16"
              class="huinno-img"
              src="/images/en_patchViewer_day1.png"
              alt="web-huinno-16"
            />
            <div class="huinno-title">Patch Viewer (Day 1)</div></a
          >
          <a href="/images/en_patchViewer_day2.png" target="_blank"
            ><img
              id="huinno-17"
              class="huinno-img"
              src="/images/en_patchViewer_day2.png"
              alt="web-huinno-17"
            />
            <div class="huinno-title">Patch Viewer (Day 2)</div></a
          >
        </div>

        <div class="title-div">
          <span class="title">HUiNNO</span><span class="date">2020</span>
        </div>
        <div class="role">Front-end Software Engineer</div>
        <ul class="ul">
          <li>
            Responsible for building a clinical web software for medical
            professionals, facilitating ECG measurement monitoring, AI-driven
            analysis, and streamlined patient management
          </li>
          <li>
            Collaborated closely with the backend team to connect APIs,
            integrated necessary data following API documentation
          </li>
          <li>Maintained the clinical web application responsive</li>
          <li>Node.js, React, JavaScript, HTML, CSS, JSON</li>
        </ul>
      </div>

      <hr />

      <!-- Ringle Chess -->
      <div>
        <div class="ringle-div">
          <img
            id="arrow-left"
            src="/images/next.svg"
            alt="arrow-left"
            onclick="_plusDivs(-1)"
          />
          <img
            id="arrow-right"
            src="/images/next.svg"
            alt="arrow-right"
            onclick="_plusDivs(+1)"
          />

          <a href="/images/web-ringle-chess-1.png" target="_blank"
            ><img
              id="ringle-1"
              class="ringle-img"
              src="/images/web-ringle-chess-1.png"
              alt="web-ringle-chess-1"
          /></a>
          <a href="/images/web-ringle-chess-2.png" target="_blank"
            ><img
              id="ringle-2"
              class="ringle-img"
              src="/images/web-ringle-chess-2.png"
              alt="web-ringle-chess-2"
          /></a>
          <a href="/images/web-ringle-chess-3.png" target="_blank"
            ><img
              id="ringle-3"
              class="ringle-img"
              src="/images/web-ringle-chess-3.png"
              alt="web-ringle-chess-3"
          /></a>
        </div>

        <div class="title-div">
          <span class="title">Chess : A* Search Algorithm</span
          ><span class="date">2020</span>
        </div>
        <div class="role">Software Engineer</div>
        <ul class="ul">
          <li>
            <a
              class="link"
              href="https://joo7875.github.io/ringle-chess/"
              target="_blank"
              >https://joo7875.github.io/ringle-chess</a
            >
          </li>
          <li>
            Find the shortest path connecting all chess pawns using
            <a
              style="color: black"
              class="link"
              href="https://en.wikipedia.org/wiki/A*_search_algorithm"
              target="_blank"
              >A* Search Algorithm</a
            >
          </li>
          <li>
            King can go up, down, left, right, diagonally, one space at a time,
            and returns to the starting point
          </li>
          <li>Express the path of movement with an animation effect</li>
        </ul>
        <br />
        <div>
          [<a
            class="link"
            href="https://github.com/joo7875/ringle-chess"
            target="_blank"
            >Code</a
          >]
        </div>
      </div>

      <hr />

      <!-- Ringle Survey -->
      <div>
        <img
          class="ringle-img"
          src="/images/web-ringle-survey.png"
          alt="web-ringle-survey"
        />

        <div class="title-div">
          <span class="title">Survey Form Example</span
          ><span class="date">2020</span>
        </div>
        <div class="role">Software Engineer</div>
        <ul class="ul">
          <li>
            <a
              class="link"
              href="https://joo7875.github.io/ringle-survey/"
              target="_blank"
              >https://joo7875.github.io/ringle-survey</a
            >
          </li>
          <li>
            You can write the title and description, then add, edit and delete
            the questions and inputs
          </li>
          <li>
            There are 3 options such as Single choice, Multiple choice and Short
            answer
          </li>
          <li>
            Click the "Submit" button and all the data will be displayed in the
            console
          </li>
        </ul>
        <br />
        <div>
          [<a
            class="link"
            href="https://github.com/joo7875/ringle-survey"
            target="_blank"
            >Code</a
          >]
        </div>
      </div>

      <hr />

      <!-- 주식회사 오성공조 -->
      <div>
        <img
          class="project-img"
          src="/images/web-woseng-1.png"
          alt="web-woseng-1"
        />
        <img
          class="project-img"
          src="/images/web-woseng-2.png"
          alt="web-woseng-2"
        />
        <!-- <img
          class="project-img"
          src="/images/web-woseng-3.png"
          alt="web-woseng-3"
        />
        <img
          class="project-img"
          src="/images/web-woseng-4.png"
          alt="web-woseng-4"
        /> -->

        <div class="title-div">
          <span class="title">Air conditioning Company</span
          ><span class="date">2020</span>
        </div>
        <div class="role">Fullstack Engineer</div>
        <ul class="ul">
          <li>
            <a class="link" href="http://www.aircon-mate.com/" target="_blank"
              >http://www.aircon-mate.com
            </a>
            (Currently under maintainance)
          </li>
          <li>
            Crafted the official website for an air conditioning company,
            starting from the ground up
          </li>
          <li>
            Implemented SEO strategies for improved search engine visibility,
            ensuring the website ranks effectively
          </li>

          <li>
            Focused on refining the website's layouts to ensure responsiveness
            and adaptability, and to provide a seamless user experience
          </li>
          <li>
            Utilized Node.js, Express, HTML, CSS, JavaScript, and deployed on
            Heroku
          </li>
        </ul>
      </div>

      <hr />

      <!-- HackerRank -->
      <div>
        <img
          class="hackaday-img"
          src="/images/web-hackaday-1.png"
          alt="web-hackaday-1"
        />
        <img
          class="hackaday-img"
          src="/images/web-hackaday-2.png"
          alt="web-hackaday-2"
        />

        <div class="title-div">
          <span class="title">Hackaday.io</span><span class="date">2020</span>
        </div>
        <div class="role">Full-stack Engineer</div>
        <ul class="ul">
          <li>
            <a
              class="link"
              href="https://hackaday-hyewonjoo.herokuapp.com/projects/page/1"
              target="_blank"
              >https://hackaday-hyewonjoo.herokuapp.com/projects/page/1</a
            >
          </li>
          <li>Project Grid Page</li>
          <ul>
            <li>
              Rendered a page that shows a grid of projects (using
              <a
                class="content-link"
                href="https://dev.hackaday.io/doc/api/get-projects"
                target="_blank"
                >GET /projects</a
              >) and its initially rendered server-side
            </li>
            <li>Displayed each project's metadata, including the owner</li>
            <ul>
              <li>
                Showing a tooltip presenting the owner's metadata when hovering
                over a project owner's name (using the
                <a
                  class="content-link"
                  href="https://dev.hackaday.io/"
                  target="_blank"
                  >Hackaday API</a
                >)
              </li>
              <li>
                Tooltip data should be loaded dynamically, client-side and it is
                only once per browsing session
              </li>
            </ul>
            <li>Implement pagination</li>
            <ul>
              <li>
                When going to next/previous project pages, the page should not
                reload and the browser bar should display a unique/permanent URL
              </li>
              <li>
                Visiting the permanent URL should load the same page of projects
                as if the visitor navigated using the next/previous links
              </li>
            </ul>
          </ul>
          <li>Project Detail Page</li>
          <ul>
            <li>
              When a project is clicked, server-side renders a page that shows
              the clicked project's metadata (using
              <a
                class="content-link"
                href="https://dev.hackaday.io/doc/api/get-projects"
                target="_blank"
                >GET /projects/:id</a
              >)
            </li>
            <li>
              Showing "recommended projects" and/or "recommended users" by
              comparing the selected project's tags with tags of other
              projects/users
            </li>
            <li>
              About "Recommended Projects", I connected tags from selected
              project and tags from the first 50 projects
            </li>
            <li>
              For "Recommended Users", there were little to no results from
              connecting the tags from selected project's creator and tags from
              the first 50 users. Thus, I got a user's info included tags from
              the array created from "Recommended Projects" and combined it with
              the array that I just explained showing less results to show more
              recommended users data.
            </li>
          </ul>
          <li>Implement Quality Assurance Testing</li>
        </ul>
        <br />
        <div>
          [<a
            class="link"
            href="https://github.com/joo7875/hackaday.git"
            target="_blank"
            >Code</a
          >] [<a
            class="link"
            href="/external/projects-web-hackaday-doc.pdf"
            target="_blank"
            >Doc</a
          >]
        </div>
      </div>

      <hr />

      <!-- F21 Collab -->
      <div>
        <img
          class="f21-collab-img"
          src="/images/web-f21-collab.png"
          alt="web-f21-collab"
        />

        <div class="title-div">
          <span class="title">FOREVER21 Collaboration</span
          ><span class="date">2019</span>
        </div>
        <div class="role">Front-end Software Engineer</div>

        <ul class="ul">
          <li>
            <a
              class="link"
              href="https://www.forever21.com/us/forever21collaborations.html"
              target="_blank"
              >https://www.forever21.com/us/shop/catalog/collabs</a
            >
          </li>
          <li>
            Developed the "Collab DB" system to streamline data management for
            companies collaborating with FOREVER21
          </li>
          <li>
            Designed an expandable join table for efficient storage,
            facilitating organized data output on each page
          </li>
          <li>
            Applied the MVC model, with the Collab DB structured as a class
            within the Model
          </li>
          <ul>
            <li>Built the Model by making Collab DB as a Class</li>
            <li>
              Got the necessary data through the View and output it to the page
            </li>
            <li>
              Passed the data to the View through the API in the Controller
            </li>
          </ul>
        </ul>
      </div>
    </div>

    <!-- footer start -->
    <div id="footer">
      <a href="https://www.linkedin.com/in/hyewon-joo" target="_blank"
        ><img class="social linkedin" src="/images/linkedin.svg" alt="linkedin"
      /></a>
      <a href="mailto:joo7875@gmail.com"
        ><img class="social email" src="/images/email.svg" alt="email"
      /></a>
      <p id="desc_footer">
        © 2021 created by Hyewon Joo <br />
        Icons made by
        <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon"
          >www.flaticon.com</a
        >
      </p>
    </div>
    <!-- footer end -->

    <script src="/javascripts/index.js"></script>
  </body>
</html>
