<!DOCTYPE html>
<html>
  <head>
  	<meta charset='utf-8'>
   	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/projects.css">

    <title><%= title %></title>
  </head>

  <body>

    <!-- sidenav start -->
    <div class="sidenav">
      <a id="logo" href="/">Hyewon Joo</a>

      <a href="/">About</a>

      <button class="dropdown-btn active">Projects</button>

      <div class="dropdown-container" style="display: block;">
        <a href="/projects/web">Web</a>
        <a class="active" href="/projects/app">App</a>
        <a href="/projects/personal">Personal</a>
      </div>

      <a id="download" href="/external/Resume_Hyewon Joo.pdf" download onclick="downloadFunc()">Resume</a>
      <a href="/reference">Reference</a>
    </div>
    <!-- sidenav end -->

    <!-- topnav start -->
    <div class="topnav" id="myTopnav">
      <a id="logo-mid" href="/">Hyewon Joo</a>

      <a href="/">About</a>

      <div class="dropdown">
        <button class="dropbtn active">Projects</button>
        <div class="dropdown-content">
          <a href="/projects/web">Web</a>
          <a class="active" href="/projects/app">App</a>
          <a href="/projects/personal">Personal</a>
        </div>
      </div> 
      <a id="download" href="/external/Resume_Hyewon Joo.pdf" download onclick="downloadFunc()">Resume</a>
      <a href="/reference">Reference</a>
      
      <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <!-- topnav end -->





    <div class="main">

      <!-- 스튜디오메이트 -->
      <div>
        <div class='sm-grid'>
          <!-- <img src="/images/app-sm-graphic.png" alt="app-studiomate-graphic"> -->
          <img class="sm-img" src="/images/app-sm-1.png" alt="app-studiomate-1">
          <img class="sm-img" src="/images/app-sm-2.png" alt="app-studiomate-2">
          <img class="sm-img" src="/images/app-sm-3.png" alt="app-studiomate-3">
          <img class="sm-img" src="/images/app-sm-4.png" alt="app-studiomate-4">
          <img class="sm-img" src="/images/app-sm-5.png" alt="app-studiomate-5">
          <img class="sm-img" src="/images/app-sm-6.png" alt="app-studiomate-6">
          <img class="sm-img" src="/images/app-sm-7.png" alt="app-studiomate-7">
          <img class="sm-img" src="/images/app-sm-8.png" alt="app-studiomate-8">
        </div>

        <div class="title-div"><span class="title">Studiomate</span><span class="date">2021</span></div>
        <div class="role">Software Engineer</div>
        <ul class="ul">
          <li><a class="link" href="https://studiomate.kr/" target="_blank">https://studiomate.kr</a></li>
          <li>Maintained and developed a mobile-based real-time reservation system for efficient operation and management of the studios</li>
          <li>Constantly upgraded our official homepage and website for studio owners using HTML, CSS, Vue.js and Jira</li>
          <li>Developed web-based hybrid mobile app that converts from existing Android and iOS native apps using React, Redux, Sagas and Hooks</li>
        </ul>
        <br>
        <div>[<a class="link" href="https://play.google.com/store/apps/details?id=kr.studiomate.user&hl=en_US&gl=US" target="_blank">Android</a> | <a class="link" href="https://apps.apple.com/app/id1400126585" target="_blank">iOS</a>]</div>
      </div>

      <hr>

      <!-- TimeTravel -->
      <div>
        <img class="project-img" src="/images/android-timetravel-appflow-1.jpg" alt="android-timetravel-appflow-1">
        <img class="project-img" src="/images/android-timetravel-appflow-2.jpg" alt="android-timetravel-appflow-2">
        <img class="project-img" src="/images/android-timetravel-appflow-3.jpg" alt="android-timetravel-appflow-3">
        <img class="project-img" src="/images/android-timetravel-appflow-4.jpg" alt="android-timetravel-appflow-4">
        <img class="project-img" src="/images/android-timetravel-draft-1.jpg" alt="android-timetravel-draft-1">
        <img class="project-img" src="/images/android-timetravel-draft-2.jpg" alt="android-timetravel-draft-2">

        <div class="title-div"><span class="title">LifeNote</span><span class="date">2020 - Present</span></div>
        <div class="role">Founder · Planner · Android Developer</div>
        <ul class="ul">
          <li>A space where you can write down the memories you want to return to, what you thought at that time, what you would like to achieve if you could go back to that time, and everything about that time</li>
          <li>A diary where you can record what happened today, what emotions you felt, and what you thought</li>
          <li>A reminder to anticipate what will happen in my future, and to write down what I want to accomplish</li>
          <li>My own space that contains my past, present and future life</li>
        </ul>
        <br>
        <div>[<a class="link" href="https://github.com/joo7875/lifenote-app.git" target="_blank">Code</a>] [<a class="link" href="/external/projects-android-lifenote-wireframe.pdf" target="_blank">Wireframe</a>]</div>
      </div>

      <hr>

      <!-- KoreanPocket -->
      <div>
        <img class="koreanpocket-feature-img" src="/images/android-koreanpocket-feature.jpg" alt="android-koreanpocket-feature">
        <img class="koreanpocket-img" src="/images/android-koreanpocket-1.png" alt="android-koreanpocket-1">
        <img class="koreanpocket-img" src="/images/android-koreanpocket-2.png" alt="android-koreanpocket-2">
        <img class="koreanpocket-img" src="/images/android-koreanpocket-3.png" alt="android-koreanpocket-3">
        <img class="koreanpocket-img" src="/images/android-koreanpocket-4.png" alt="android-koreanpocket-4">
        <img class="koreanpocket-img" src="/images/android-koreanpocket-5.png" alt="android-koreanpocket-5">
        <img class="koreanpocket-img" src="/images/android-koreanpocket-6.png" alt="android-koreanpocket-6">
        <img class="koreanpocket-img" src="/images/android-koreanpocket-7.png" alt="android-koreanpocket-7">
        <img class="koreanpocket-img" src="/images/android-koreanpocket-8.png" alt="android-koreanpocket-8">

        <div class="title-div"><span class="title">KoreanPocket</span><span class="date">2017 - 2018</span></div>
        <div class="role">Founder · Planner · Android Developer</div>
        <div class="content">
          KoreanPocket is a fun language-learning app for improving your Korean skills. It includes categories, flashcards, screen slides, games and quizzes to help you practice and retain your understanding. Take your Korean language learning materials with you in your pocket!
          <br>
          Built by both Korean and English speakers, KoreanPocket covers topics such as greetings, daily life, and business vocabulary and phrases. It provides a great start for anyone seeking to improve their Korean skills.
        </div>
        <div>[<a class="link" href="https://play.google.com/store/apps/details?id=com.hyewonjoo.koreanpocket&hl=en" target="_blank">Download the app</a>] [<a class="link" href="/external/projects-android-koreanpocket-appflow.pdf" target="_blank">App Flow</a>] [<a class="link" href="/external/projects-android-koreanpocket-ppt.pdf" target="_blank">Slides</a>]</div>
      </div>

      <hr>

      <!-- TICON -->
      <div>
        <img class="ticon-wireframe" src="/images/android-ticon-intro.jpg" alt="android-ticon-intro">
        <img class="ticon-wireframe" src="/images/android-ticon-wireframe.png" alt="android-ticon-wireframe">

        <div class="title-div"><span class="title">Stipop (Previous name: TICON)</span><span class="date">2016</span></div>
        <div class="role">Server Developer</div>
        <ul class="ul">
          <li>Emoticon market as an open platform!</li>
          <li>Users can freely create their own emoticons and launch them on the market, share emoticons they created in free markets with friends, earn money by selling emoticons through the pay market, transact emoticons using <b>cone</b> which is virtual money of TICON, and share emoticons to external messenger service</li>
          <li>Drawing tool is provided in the app</li>
          <li>Used the MySQL program to build the necessary database tables and wrote most of the SQL queries</li>
          <li>Designed SQL queries to list items in order of rank, popularity, and download rank of emoticons and compromise them on node.js program</li>
        </ul>
        <br>
        <div>[<a class="link" href="https://play.google.com/store/apps/details?id=io.stipop.sticker_platform&hl=en_US" target="_blank">Android</a> | <a class="link" href="https://apps.apple.com/us/app/stipop-stickers-unlimited/id1288492157" target="_blank">iOS</a>] [<a class="link" href="/external/projects-android-ticon-slides.pdf" target="_blank">Slides</a>] [<a class="link" href="/external/projects-android-ticon-api.pdf" target="_blank">API Reference</a>] [<a class="link" href="/external/projects-android-ticon-video.mp4" target="_blank">Video Clip</a>]</div>
      </div>

      <hr>

      <!-- HearTree -->
      <div>
        <img class="heartree-logo" src="/images/android-heartree-logo.png" alt="android-heartree-logo">
        <img class="heartree-img" src="/images/android-heartree-1.jpg" alt="android-heartree-1">
        <img class="heartree-img" src="/images/android-heartree-2.jpg" alt="android-heartree-2">
        <img class="heartree-img" src="/images/android-heartree-3.jpg" alt="android-heartree-3">
        <img class="heartree-img" src="/images/android-heartree-4.jpg" alt="android-heartree-4">
        <img class="heartree-img" src="/images/android-heartree-5.jpg" alt="android-heartree-5">

        <div class="title-div"><span class="title">HearTree</span><span class="date">2015</span></div>
        <div class="role">Server Developer</div>
        <ul class="ul">
          <li>A couple application with a tree concept that can build up the memories of couples step by step</li>
          <li>From the root (meeting) to the stem (the stage of getting to know each other) and the fruit (memory), everything in love is recorded in the tree-shaped "HearTree"</li>
          <li>Share each other's schedule and mark anniversaries on "Heart Calendar"</li>
          <li>"Heart Alert" that calculates and informs couples of anniversaries</li>
          <li>"Heart Phone Book" to share each other's address book</li>
        </ul>
        <br>
        <div>[<a class="link" href="/external/projects-android-heartree-slides.pdf" target="_blank">Slides</a>]</div>

      </div>
     
    </div>



    <!-- footer start -->
    <div id='footer'>
      <a href="https://www.linkedin.com/in/hyewon-joo" target="_blank"><img class="social linkedin" src="/images/linkedin.svg" alt="linkedin" /></a>
      <a href="mailto:joo7875@gmail.com"><img class="social email" src="/images/email.svg" alt="email" /></a>
      <p id="desc_footer">
        © 2021 created by Hyewon Joo <br>
        Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      </p>
    </div>
    <!-- footer end -->


  <script src="/javascripts/index.js"></script>

  </body>


</html>
