<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/projects.css" />

    <title><%= title %></title>
  </head>

  <body>
    <!-- sidenav start -->
    <div class="sidenav">
      <a id="logo" href="/">Hyewon Joo</a>

      <a class="active" href="/">About</a>

      <button class="dropdown-btn">Projects</button>
      <div class="dropdown-container">
        <a href="/projects/web">Web</a>
        <a href="/projects/app">Mobile</a>
        <a href="/projects/personal">Personal</a>
      </div>

      <a
        id="download"
        href="/external/Hyewon Joo - Software Engineer 2024.pdf"
        target="_blank"
        >Resume</a
      >
      <a href="/reference">Reference</a>
    </div>
    <!-- sidenav end -->

    <!-- topnav start -->
    <div class="topnav" id="myTopnav">
      <a id="logo-mid" href="/">Hyewon Joo</a>

      <a class="active" href="/">About</a>

      <div class="dropdown">
        <button class="dropbtn">Projects</button>
        <div class="dropdown-content">
          <a href="/projects/web">Web</a>
          <a href="/projects/app">Mobile</a>
          <a href="/projects/personal">Personal</a>
        </div>
      </div>

      <a
        id="download"
        href="/external/Hyewon Joo - Software Engineer 2024.pdf"
        target="_blank"
        >Resume</a
      >
      <a href="/reference">Reference</a>

      <a
        href="javascript:void(0);"
        style="font-size: 16px"
        class="icon"
        onclick="myFunction()"
        >&#9776;</a
      >
    </div>
    <!-- topnav end -->

    <div class="main">
      <!-- Need -->
      <div>
        <div class="need-grid">
          <img
            class="need-img"
            src="/images/app-need-1.webp"
            alt="app-need-1"
          />
          <img
            class="need-img"
            src="/images/app-need-2.webp"
            alt="app-need-2"
          />
          <img
            class="need-img"
            src="/images/app-need-3.webp"
            alt="app-need-3"
          />
          <img
            class="need-img"
            src="/images/app-need-4.webp"
            alt="app-need-4"
          />
          <img
            class="need-img"
            src="/images/app-need-5.webp"
            alt="app-need-5"
          />
          <img
            class="need-img"
            src="/images/app-need-6.webp"
            alt="app-need-6"
          />
        </div>

        <div class="title-div">
          <span class="title">NEED</span><span class="date">2022</span>
        </div>
        <div class="role">Founding Software Engineer (Seed - Series A)</div>
        <ul class="ul">
          <li>
            <a class="link" href="https://www.getneed.com/" target="_blank"
              >https://www.getneed.com</a
            >
          </li>
          <li>Frontend: React Native, NativeBase, MobX, Figma</li>
          <li>
            Backend: Golang, Google Cloud Platform, Docker, GraphQL, SQL, Google
            Firebase, Google BigQuery, RudderStack
          </li>
          <li>
            First launched 200,000+ users facing mobile app in South Korea with
            enhanced localized features with 10,000+ downloads
          </li>
          <li>
            Led a project that introduced the Cancer Protection Score feature in
            the main screen, allowing users to assess their risk through a set
            of health related questions, enhancing user engagement strategies
          </li>
          <li>
            Implemented Case Tracker, which helps enable users to transparently
            monitor their cancer diagnosis journey from start to finish
          </li>
        </ul>
        <br />
        <div>
          [<a
            class="link"
            href="https://play.google.com/store/apps/details?id=com.getneed.petros&hl=en&gl=US"
            target="_blank"
            >Android</a
          >
          |
          <a
            class="link"
            href="https://apps.apple.com/us/app/need-cancer-protection-system/id1611430829"
            target="_blank"
            >iOS</a
          >]
        </div>
      </div>

      <hr />

      <!-- 스튜디오메이트 -->
      <div>
        <div class="sm-grid">
          <!-- <img src="/images/app-sm-graphic.png" alt="app-studiomate-graphic"> -->
          <img
            class="sm-img"
            src="/images/app-sm-1.png"
            alt="app-studiomate-1"
          />
          <img
            class="sm-img"
            src="/images/app-sm-2.png"
            alt="app-studiomate-2"
          />
          <img
            class="sm-img"
            src="/images/app-sm-3.png"
            alt="app-studiomate-3"
          />
          <img
            class="sm-img"
            src="/images/app-sm-4.png"
            alt="app-studiomate-4"
          />
          <img
            class="sm-img"
            src="/images/app-sm-5.png"
            alt="app-studiomate-5"
          />
          <img
            class="sm-img"
            src="/images/app-sm-6.png"
            alt="app-studiomate-6"
          />
          <img
            class="sm-img"
            src="/images/app-sm-7.png"
            alt="app-studiomate-7"
          />
          <img
            class="sm-img"
            src="/images/app-sm-8.png"
            alt="app-studiomate-8"
          />
        </div>

        <div class="title-div">
          <span class="title">StudioMate</span><span class="date">2021</span>
        </div>
        <div class="role">Software Engineer</div>
        <ul class="ul">
          <li>
            <a class="link" href="https://studiomate.kr" target="_blank"
              >https://studiomate.kr</a
            >
          </li>
          <li>React Native, React, Redux, Sagas, HTML, CSS, Vue.js</li>
          <li>
            As one of 3 engineers, built a hybrid mobile app by migrating from
            legacy Android/iOS native code to a modern architectural codebase
            using React Native and launched the new version of the product in
            the market with newly defined UI and UX
          </li>
          <li>
            Enhanced a mobile-based real-time reservation system for 2,000,000+
            studios and 1,200,000+ users (Monthly reservation 4,500,000+)
          </li>
          <li>
            Upgraded the official website to another level for studio owners for
            better brand awareness and marketing promotion
          </li>
        </ul>
        <br />
        <div>
          [<a
            class="link"
            href="https://play.google.com/store/apps/details?id=kr.studiomate.user&hl=en_US&gl=US"
            target="_blank"
            >Android</a
          >
          |
          <a
            class="link"
            href="https://apps.apple.com/app/id1400126585"
            target="_blank"
            >iOS</a
          >]
        </div>
      </div>

      <hr />

      <!-- TimeTravel -->
      <!-- <div>
        <img
          class="project-img"
          src="/images/android-timetravel-appflow-1.jpg"
          alt="android-timetravel-appflow-1"
        />
        <img
          class="project-img"
          src="/images/android-timetravel-appflow-2.jpg"
          alt="android-timetravel-appflow-2"
        />
        <img
          class="project-img"
          src="/images/android-timetravel-appflow-3.jpg"
          alt="android-timetravel-appflow-3"
        />
        <img
          class="project-img"
          src="/images/android-timetravel-appflow-4.jpg"
          alt="android-timetravel-appflow-4"
        />
        <img
          class="project-img"
          src="/images/android-timetravel-draft-1.jpg"
          alt="android-timetravel-draft-1"
        />
        <img
          class="project-img"
          src="/images/android-timetravel-draft-2.jpg"
          alt="android-timetravel-draft-2"
        />

        <div class="title-div">
          <span class="title">LifeNote</span
          ><span class="date">2020 - Present</span>
        </div>
        <div class="role">Founder · Planner · Android Developer</div>
        <ul class="ul">
          <li>
            A space where you can write down the memories you want to return to,
            what you thought at that time, what you would like to achieve if you
            could go back to that time, and everything about that time
          </li>
          <li>
            A diary where you can record what happened today, what emotions you
            felt, and what you thought
          </li>
          <li>
            A reminder to anticipate what will happen in my future, and to write
            down what I want to accomplish
          </li>
          <li>My own space that contains my past, present and future life</li>
        </ul>
        <br />
        <div>
          [<a
            class="link"
            href="https://github.com/joo7875/lifenote-app.git"
            target="_blank"
            >Code</a
          >] [<a
            class="link"
            href="/external/projects-android-lifenote-wireframe.pdf"
            target="_blank"
            >Wireframe</a
          >]
        </div>
      </div> -->

      <!-- <hr /> -->

      <!-- KoreanPocket -->
      <div>
        <img
          class="koreanpocket-feature-img"
          src="/images/android-koreanpocket-feature.jpg"
          alt="android-koreanpocket-feature"
        />
        <img
          class="koreanpocket-img"
          src="/images/android-koreanpocket-1.png"
          alt="android-koreanpocket-1"
        />
        <img
          class="koreanpocket-img"
          src="/images/android-koreanpocket-2.png"
          alt="android-koreanpocket-2"
        />
        <img
          class="koreanpocket-img"
          src="/images/android-koreanpocket-3.png"
          alt="android-koreanpocket-3"
        />
        <img
          class="koreanpocket-img"
          src="/images/android-koreanpocket-4.png"
          alt="android-koreanpocket-4"
        />
        <img
          class="koreanpocket-img"
          src="/images/android-koreanpocket-5.png"
          alt="android-koreanpocket-5"
        />
        <img
          class="koreanpocket-img"
          src="/images/android-koreanpocket-6.png"
          alt="android-koreanpocket-6"
        />
        <img
          class="koreanpocket-img"
          src="/images/android-koreanpocket-7.png"
          alt="android-koreanpocket-7"
        />
        <img
          class="koreanpocket-img"
          src="/images/android-koreanpocket-8.png"
          alt="android-koreanpocket-8"
        />

        <div class="title-div">
          <span class="title">KoreanPocket</span
          ><span class="date">2017 - 2018</span>
        </div>
        <div class="role">Founder · Engineering</div>
        <div class="content">
          <ul class="ul">
            <li>
              Conceptualized and spearheaded the development of a user-friendly
              language learning mobile app, from ideation to product completion,
              by designing the wireframe layout to start
            </li>
            <li>
              Executed the development process with a comprehensive grasp of
              user experience and the software development life cycle, resulting
              in the successful launch of the service in the market, attracting
              and retaining 200+ active users
            </li>
          </ul>
        </div>
        <div>
          [<a
            class="link"
            href="/external/projects-android-koreanpocket-appflow.pdf"
            target="_blank"
            >App Flow</a
          >] [<a
            class="link"
            href="/external/projects-android-koreanpocket-ppt.pdf"
            target="_blank"
            >Slides</a
          >]
        </div>
      </div>

      <hr />

      <!-- TICON -->
      <div>
        <img
          class="ticon-wireframe"
          src="/images/android-ticon-intro.jpg"
          alt="android-ticon-intro"
        />
        <img
          class="ticon-wireframe"
          src="/images/android-ticon-wireframe.png"
          alt="android-ticon-wireframe"
        />

        <div class="title-div">
          <span class="title">Stipop (YC S21)</span
          ><span class="date">2016</span>
        </div>
        <div class="role">Founding Software Engineer</div>
        <ul class="ul">
          <li>
            Revolutionizing emoticons, our platform is an open marketplace!
          </li>
          <li>
            Users can create, share, and sell their creative emoticons. Whether
            launching in the free market, earning money in the pay market, or
            transacting with virtual currency (cone), the possibilities are
            endless.
          </li>
          <li>
            Seamlessly integrated with external messenger services, the app
            provides a drawing tool for personalized emoticon creation
          </li>
          <li>
            Behind the scenes, a robust MySQL program powers the database,
            featuring meticulously crafted SQL queries on Node.js to list
            emoticons by rank, popularity, and download statistics
          </li>
          <li>
            Designed the founding architecture of data models for core features,
            wrote the majority of SQL queries to create databases and generated
            migrations for better data ingestion and operations
          </li>
        </ul>
        <br />
        <div>
          [<a
            class="link"
            href="https://play.google.com/store/apps/details?id=io.stipop.sticker_platform&hl=en_US"
            target="_blank"
            >Android</a
          >
          |
          <a
            class="link"
            href="https://apps.apple.com/us/app/stipop-stickers-unlimited/id1288492157"
            target="_blank"
            >iOS</a
          >] [<a
            class="link"
            href="/external/projects-android-ticon-slides.pdf"
            target="_blank"
            >Slides</a
          >] [<a
            class="link"
            href="/external/projects-android-ticon-api.pdf"
            target="_blank"
            >API Reference</a
          >] [<a
            class="link"
            href="/external/projects-android-ticon-video.mp4"
            target="_blank"
            >Video Clip</a
          >]
        </div>
      </div>

      <hr />

      <!-- HearTree -->
      <div>
        <img
          class="heartree-logo"
          src="/images/android-heartree-logo.png"
          alt="android-heartree-logo"
        />
        <img
          class="heartree-img"
          src="/images/android-heartree-1.jpg"
          alt="android-heartree-1"
        />
        <img
          class="heartree-img"
          src="/images/android-heartree-2.jpg"
          alt="android-heartree-2"
        />
        <img
          class="heartree-img"
          src="/images/android-heartree-3.jpg"
          alt="android-heartree-3"
        />
        <img
          class="heartree-img"
          src="/images/android-heartree-4.jpg"
          alt="android-heartree-4"
        />
        <img
          class="heartree-img"
          src="/images/android-heartree-5.jpg"
          alt="android-heartree-5"
        />

        <div class="title-div">
          <span class="title">HearTree</span><span class="date">2015</span>
        </div>
        <div class="role">Backend Engineer</div>
        <ul class="ul">
          <li>
            An mobile couple app with a tree concept that can build up the
            memories over time
          </li>
          <li>
            From the root (first meeting) to the stem (the stage of getting to
            know each other) and the fruit (memory), everything will be tracked
            in the tree-shaped "HearTree"
          </li>
          <li>
            Share each other's schedule and mark anniversaries on "Heart
            Calendar"
          </li>
          <li>
            "Heart Alert" calculates couples of anniversaries and informs them
            through notifications
          </li>
          <li>"Heart Phone Book" to share each other's address book</li>
        </ul>
        <br />
        <div>
          [<a
            class="link"
            href="/external/projects-android-heartree-slides.pdf"
            target="_blank"
            >Slides</a
          >]
        </div>
      </div>
    </div>

    <!-- footer start -->
    <div id="footer">
      <a href="https://www.linkedin.com/in/hyewon-joo" target="_blank"
        ><img class="social linkedin" src="/images/linkedin.svg" alt="linkedin"
      /></a>
      <a href="mailto:joo7875@gmail.com"
        ><img class="social email" src="/images/email.svg" alt="email"
      /></a>
      <p id="desc_footer">
        © 2021 created by Hyewon Joo <br />
        Icons made by
        <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon"
          >www.flaticon.com</a
        >
      </p>
    </div>
    <!-- footer end -->

    <script src="/javascripts/index.js"></script>
  </body>
</html>
