<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/projects.css">

    <title><%= title %></title>
  </head>

  <body>

    <div class="sidenav">
      <a id="logo" href="/">Hyewon Joo</a>

      <a href="/">Home</a>
      <a href="/resume">CV</a>

      <button class="dropdown-btn active">Projects</button>

      <div class="dropdown-container" style="display: block;">
        <a href="/projects/android">Android</a>
        <a href="/projects/web">Web</a>
        <a class="active" href="/projects/mfc">MFC</a>
        <a href="/projects/study">Study</a>
      </div>

      <a href="/about">About</a>
    </div>

    <div class="topnav" id="myTopnav">
      <a id="logo-mid" href="/">Hyewon Joo</a>

      <a href="/">Home</a>
      <a href="/resume">CV</a>
      <div class="dropdown">
        <button class="dropbtn active">Projects</button>
        <div class="dropdown-content">
          <a href="/projects/android">Android</a>
          <a href="/projects/web">Web</a>
          <a class="active" href="/projects/mfc">MFC</a>
          <a href="/projects/study">Study</a>
        </div>
      </div> 
      <a href="/about">About</a>
      
      <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>




    <div class="main">

      <!-- 주식회사 오성전자 -->
      <div>
        <img class="project-img" src="/images/mfc-snakegame-1.png" alt="mfc-snakegame-1">
        <img class="project-img" src="/images/mfc-snakegame-2.png" alt="wmfc-snakegame-2">

        <div class="title-div"><span class="title">MFC Snake Game</span><span class="date">2015</span></div>
        <div class="role">MFC Developer</div>
        <ul class="ul">
          <li><a class="link" href="/external/snake_game.exe">Click here to play Snake Game</a></li>
          <li>Within the square box, a virtual snake moves at a set speed and its tail will grow by +1 when it eats the randomly produced fruit</li>
          <li>The higher the level, the faster the speed of snake</li>
          <li>The game ends when the snake’s head bumps into the wall or hits its body</li>
        </ul>
        <br>
        <div>[<a class="link" href="https://github.com/joo7875/mfc-snakegame.git" target="_blank">Code</a>] [<a class="link" href="/external/projects-mfc-snakegame.pdf" target="_blank">Slides</a>]</div>
        
      </div>

      
     
    </div>


  <script src="/javascripts/index.js"></script>

  </body>


</html>
