<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/reference.css" />

    <title><%= title %></title>
  </head>

  <body>
    <!-- sidenav start -->
    <div class="sidenav">
      <a id="logo" href="/">Hyewon Joo</a>

      <a href="/">About</a>

      <button class="dropdown-btn">Projects</button>
      <div class="dropdown-container">
        <a href="/projects/web">Web</a>
        <a href="/projects/app">Mobile</a>
        <a href="/projects/personal">Personal</a>
      </div>

      <a
        id="download"
        href="/external/Hyewon Joo - Engineering 2024.pdf"
        target="_blank"
        >Resume</a
      >
      <a href="/reference" class="active">Reference</a>
    </div>
    <!-- sidenav end -->

    <!-- topnav start -->
    <div class="topnav" id="myTopnav">
      <a id="logo-mid" href="/">Hyewon Joo</a>

      <a href="/">About</a>

      <div class="dropdown">
        <button class="dropbtn">Projects</button>
        <div class="dropdown-content">
          <a href="/projects/web">Web</a>
          <a href="/projects/app">Mobile</a>
          <a href="/projects/personal">Personal</a>
        </div>
      </div>

      <a
        id="download"
        href="/external/Hyewon Joo - Engineering 2024.pdf"
        target="_blank"
        >Resume</a
      >
      <a href="/reference" class="active">Reference</a>

      <a
        href="javascript:void(0);"
        style="font-size: 16px"
        class="icon"
        onclick="myFunction()"
        >&#9776;</a
      >
    </div>
    <!-- topnav end -->

    <div class="main">
      <!-- <div class="gap">
        <div class="title">
          <div class="name">Cover Letter</div>
        </div>
        <embed
          src="external/Hyewon Joo - Cover Letter.pdf"
          width="100%"
          height="700"
          type="application/pdf"
        />
      </div> -->

      <div class="gap">
        <div class="title">
          <div class="name">
            <a
              href="https://www.linkedin.com/in/hsiaoching"
              target="_blank"
              class="link"
            >
              Sunny Chang
            </a>
          </div>
          <div class="role">Software Engineer @ Need</div>
        </div>
        <div class="content">
          I had the privilege to work alongside Hyewon for a couple months.
          Hyewon is a team player who is easy to work with, always ready to
          collaborate and helps bring the team together. I enjoyed learning from
          her expertise in building a beautiful product, as well as her
          experience in high-quality engineering work. Personally I also loved
          how Hyewon is always embracing challenges and open to learning new
          things. I am sure she would be an amazing addition to any team!
        </div>
      </div>

      <div class="gap">
        <div class="title">
          <div class="name">
            <a
              href="https://www.linkedin.com/in/yoonakiim"
              target="_blank"
              class="link"
            >
              Yoona Kim
            </a>
          </div>
          <div class="role">Clinical Operations Lead @ Need</div>
        </div>
        <div class="content">
          Working alongside Hyewon was an absolute pleasure. As a developer, she
          brings not only technical prowess but also an unwavering positive
          attitude to the table. Whenever faced with challenges, instead of
          succumbing to doubt, she approaches them with a can-do attitude,
          inspiring the entire team. Her camaraderie with colleagues is
          commendable, fostering a collaborative work environment. She is
          someone who not only strives for excellence in her own work but also
          encourages others to do the same. It was a privilege to work with her.
        </div>
      </div>

      <div class="gap">
        <div class="title">
          <div class="name">
            <a
              href="https://www.linkedin.com/in/tito-mbagwu"
              target="_blank"
              class="link"
            >
              Tito Mbagwu
            </a>
          </div>
          <div class="role">Head of Engineering @ Need</div>
        </div>
        <div class="content">
          During our time together Hyewon worked on critical projects both
          internal and consumer facing. In addition to producing high quality
          code output, Hyewon also has an eye for product design, and could
          independently drive changes to our UX on many of our products.
          <br /><br />
          Hyewon was a pleasure to work with. I recommend Hyewon to anyone
          looking for a solid frontend contributor with a high level of
          collaboration skills, high code quality, good growth trajectory, and
          desire to learn what it takes to get things done.
        </div>
      </div>

      <div class="gap">
        <div class="title">
          <div class="name">
            <a
              href="https://www.linkedin.com/in/atreyamadhavjoshi"
              target="_blank"
              class="link"
            >
              Atreya Joshi
            </a>
          </div>
          <div class="role">Senior Software Engineer @ Need</div>
        </div>
        <div class="content">
          Working with Hyewon closely on numerous large, high-impact projects
          has been an absolute privilege. I can confidently say that - I admire
          Hyewon cares about the longer term vision of the products she designs
          and implements. Her focus on prioritizing on identifying and
          prioritizing solving the most critical problems is inspiring.
          <br /><br />
          With her extensive background in Software Engineering - not only does
          she deliver high quality products and code, she also motivates and
          sets high standard for deliverables in the team.
          <br /><br />
          As a teammate - It is pleasure to work with her and learn from her. I
          truly appreciate the kindness and compassion she expresses with
          everyone she interacts. Her positive attitude, even in the face of
          challenges, is inspiring and motivating.
          <br /><br />
          I have no doubt that Hyewon will continue to thrive in her career and
          excel in all future endeavors, showcasing her exceptional skills and
          talents.
          <br /><br />
          It has been a privilege to work with her.
        </div>
      </div>

      <div class="gap">
        <div class="title">
          <div class="name">
            <a
              href="https://www.linkedin.com/in/sherman-lin-481681181"
              target="_blank"
              class="link"
            >
              Sherman Lin
            </a>
          </div>
          <div class="role">
            Clinical Operations Associate @ Need | MD/PhD Student @ Western
          </div>
        </div>
        <div class="content">
          I had the pleasure of collaborating with Hyewon at Need, where we
          worked together on developing software with the ultimate goal of
          impacting the lives of cancer patients. Hyewon's meticulous attention
          to detail and her ability to ask targeted questions consistently
          resulted in the creation of a superior product within our
          multidisciplinary team.
          <br /><br />
          What stands out most to me about Hyewon is her kindness and her
          consistent effort to inquire about my well-being, truly showing how
          much she cares about me. I wholeheartedly endorse Hyewon for any role
          she pursues, confident she will bring the same level of excellence and
          compassion.
        </div>
      </div>

      <div class="gap">
        <div class="title">
          <div class="name">
            <a
              href="https://www.linkedin.com/in/diegozuritas"
              target="_blank"
              class="link"
            >
              Diego Zurita Sáenz
            </a>
          </div>
          <div class="role">Recruitment Consultant @ Need</div>
        </div>
        <div class="content">
          I had the pleasure of working alongside Hyewon at Need for a few
          months. In that short time, I was consistently impressed by her skills
          as a software engineer and her problem-solving abilities truly shined.
          <br /><br />
          Hyewon is also a fantastic teammate. She's always willing to lend a
          helping hand, answer questions and positive attitude and willingness
          to go the extra mile make her a valuable asset to any one lucky enough
          to work with her.
          <br /><br />
          I have no doubt she'll continue to excel in her career and I highly
          recommend her for any role!
        </div>
      </div>

      <div class="gap">
        <div class="title">
          <div class="name">
            <a
              href="https://www.linkedin.com/in/cjy12182000"
              target="_blank"
              class="link"
            >
              Jaeyoung Cho
            </a>
          </div>
          <div class="role">
            Software Engineer @ Need | PhD Candidate @ University Hospital
            Heidelberg (UKHD)
          </div>
        </div>
        <div class="content">
          Her expertise in maintaining high quality of the code, with a focus on
          React and React Native, positions her as a valuable asset to any
          software engineering team. Moreover, her open-minded and helpful
          attitude enhances her contribution potential.
        </div>
      </div>

      <div class="gap">
        <div class="title">
          <div class="name">Letter from Seungwook Lee</div>
          <div class="role">Chief Executive Officer @ StudioMate</div>
        </div>
        <embed
          src="external/Ref_studiomate.pdf"
          width="100%"
          height="700"
          type="application/pdf"
        />
      </div>

      <div class="gap">
        <div class="title">
          <div class="name">Letter from Nicole Barone-Williams</div>
          <div class="role">School Director @ TALK English Schools, Boston</div>
        </div>
        <embed
          src="external/Reference by Nicole.pdf"
          width="100%"
          height="700"
          type="application/pdf"
        />
      </div>

      <div>
        <div class="title">
          <div class="name">Letter from Dzmitry Razalyeu</div>
          <div class="role">
            Director of Field Marketing @ TALK English Schools
          </div>
        </div>
        <embed
          src="external/Reference by Dzmitry.pdf"
          width="100%"
          height="700"
          type="application/pdf"
        />
      </div>
    </div>

    <!-- footer start -->
    <div id="footer">
      <a href="https://www.linkedin.com/in/hyewon-joo" target="_blank"
        ><img class="social linkedin" src="/images/linkedin.svg" alt="linkedin"
      /></a>
      <a href="mailto:joo7875@gmail.com"
        ><img class="social email" src="/images/email.svg" alt="email"
      /></a>
      <p id="desc_footer">
        © 2021 created by Hyewon Joo <br />
        Icons made by
        <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon"
          >www.flaticon.com</a
        >
      </p>
    </div>
    <!-- footer end -->

    <script src="/javascripts/index.js"></script>
  </body>
</html>
