.main {
  background-color: #f0f3f6;
  margin-left: 290px; 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex_1 {
	flex: 50%;
	text-align: center;
}

#profile {
	max-width: 100%;
}

.flex_2 {
	flex: 50%;
}

#desc {
	max-width: 400px;
	padding: 10px 40px 10px 70px;
}

#name {
	font: normal normal normal 40px/1.4em cinzel,serif;
}

#intro {
	font-size: 14.5px;
	padding: 2em 0 0 0;
	line-height: 2em;
}

@media screen and (max-width: 1500px) {
	.main {
		flex-direction: column;
	}
	#profile {
		max-width: 55%;
		margin: 3em 0 3em 0;
		border-radius: 3em 0;
	}
	.flex_2 {
		margin-bottom: 2em;
	}
}

@media screen and (max-width: 1100px) {
	.main {
		margin: 3em;
	}
}

@media screen and (max-width: 700px) {
	#profile {
		max-width: 70%;
	}
}

@media screen and (max-width: 570px) {
	#desc {
		padding: 10px 40px 10px 50px;
	}
}

@media screen and (max-width: 570px) {
	#profile {
		max-width: 100%;
		border-radius: 0;
		margin: 0 0 3em 0;
	}
}

@media screen and (max-width: 470px) {
	.main {
		margin: 2.5em 1.5em 3em 1.5em;
	}
}